:root{
    --brown:#D5966C;
    --black: #151515;
    --dark-gray: #444444;
    --white: #FFFFFF;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 96px;
}
.medium-heading{font-size: 60px;}
.small-heading{font-size: 36px;}


p{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
}


html{
    /* background-color: aqua; */
    width: 100vw;
    overflow-x: hidden;
}
body{
    width: 100vw;
    /* background-color: #7a7777; */
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}
#img-hero-phone{ display:none;}
#img-hero-tab{display:none;}


.img-phone{display: none;}
.img-tab{display: none;}


#container-1{
margin: auto;
padding: 0;
width: 1440px;




}
header{
    position: relative;
    top: 0;
}
#main-header-text{
    width: 1110px;
    height: calc(160px + 64px + 72px);
    position: absolute;
    left: 165px;
    top: 190px;
    

}

#main-header-text h1{
    display: block;
    width: 514px;
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    text-align: left;
    color: var(--white);
    box-sizing: border-box;
    mix-blend-mode: difference;
}

#main-header-text p{
    display: block;
    position: absolute;
    width: 360px;
    right: 0;
    top: 0;

}
#main-header-text span {
    display: block;
}
#black-box{
    width: 450px;
    height: 799px;
    background-color: var(--black);
    float: left;
    color: #151515;
}
#location-main{
    position: absolute;
    width: 260px;
    height: 72px;
    right: 100px;
    bottom: 0;

    background-color: var(--black);
    color: var(--white);

    --dir-color:var(--brown);
}
#location-main:hover{
    background-color: var(--brown);
    --dir-color: var(--black);

}
#location-dir{
    width: 56px;
    height: 72px;
    background-color: var(--dir-color);
    position: absolute;
    top: 0;
    right: 
    width:1110px;
    height: 1150px;
    margin-top: 147px;

    position: relative;
    left: 144px;

}
#gallery-room-head{
    width: 350px;
    height: 280px;
    float: left;
    
    
}
#gallery-room-foot{
    background-color: var(--black);
    color: var(--white);
    width: 445px;
    height: 377px;
    box-sizing: border-box;
    padding: 48px;

    position: absolute;
    right: 0;
    bottom: 0;
}
#img-1{ float: right;}
#img-2{position: absolute; left: 0; bottom: 0;}
#img-3{position: absolute; right: 0; top: 430px;}

#main-footer{
    background-color: var(--black);
    color: var(--white);
    width: 1440px;
    height: 244px;
    padding: 80px 164px;

    margin-top: 213px;
    box-sizing: border-box;

    position: relative;
}
#main-footer-content{
    width: 1110px;
    height: 84px;
   

}
#main-footer-text{
    margin-top: 0;
    width: 730px; 
    height: 84px;

    float: left;
}
#main-footer-text span{ display: block;}

#main-footer-content h1 { display: block; width: 200px; height: 58px; float: left; margin-top: 0;}
#main-footer-content p{display:block; width: 430px; height: 84px; float: right; margin-top: 0; font-size: 18px;}
#social{
     width: 100px;
    height: 20px;
    float: right;

    display: flex;
    justify-content: space-between;
}

#facebook-el, #instagram-el{
    width: 20px;
    height: 20px;
} 
#twiter-el{
    width: 20px;
    height: 16.5px;
}
#facebook:hover, #instagram:hover, #tweeter:hover{
    accent-color: var(--brown);
}
@media screen and (min-width: 768px) and (max-width:1439.9px) {
    p{
        font-size: 18px;
        line-height: 28px;
    }
    .medium-heading{font-size: 50px; line-height: 45px; font-weight: 900;}
    .small-heading{font-size: 36px;}

    #img-hero-tab{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        }
    .img-tab{display: block;}
    #black-box{display: none;}
    body{ margin-top: 0;}
    #container-1{
        margin-top: 0;
        width: 768px;
    }
    header{
        width: 100%;
        height: 700px;
        position: relative;
        top: 0;
        padding: 0;
    }

    #img-hero-pc{display: none;}
    .img-pc{display: none;}

    #main-header-text{
        position: absolute;
        width: 339px;
        height: 410px;
        left: 389px;
        top: 145px;
    }

    #gallery-room-head{
        width: 223px;
        height: 299px;
        position: absolute;
        top: 36px;
        left: 0;
    }
    #location-main{left: 0;}
    #gallery-room-foot{
        background-color: var(--black);
        color: var(--white);
        width: 280px;
        height: 396px;
        box-sizing: border-box;
        padding: 85px 28px;
    
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #img-1{
        position: absolute;
        top: 0;
        right: 0;
    }
    #img-2{position: absolute; left: 0; bottom: 0;}
    #img-3{position: absolute; right: 0; top: 411px;}
    #main-header-text h1{
        position: relative;
        font-size: 70px;
        width: 100%;
        mix-blend-mode: normal;
        color: var(--black);
    }
    #main-header-text p{
        font-size: 18px;
        position: relative;
        width: 100%;
    }
    #gallery-room{
        position: relative;
        margin-top: 140px;
        width: 689px;
        height: 1131px;
        left: 39px;
    }
    
    #main-footer{
        width: 100%;
        height: 216px;
        
        margin-top: 100px;
        box-sizing: border-box;
        padding: 56px 39px;
    
        position: relative;
    }
    #main-footer-content{
        width: 690px;
        height: 104px;
        
    
    }
    #main-footer-text{
        margin-top: 0;
        width: 500px; 
        height: 104px;
    
        float: left;
    }
    
    #main-footer-content h1 { width: 200px; height: 40px; float: left; margin-top: 0;}
    #main-footer-content p{ width: 281px; height: 104px; float: right; margin-top: 0; font-size: 16px;}
    #social{
        width: 100px;
        height: 20px;
        float: right;
    
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width:375px) {
  
    #img-hero-phone{display: block;}
    .img-phone{display: block;}

    #img-hero-pc{display: none;}
    .img-pc{display: none;}
    #black-box{display: none;}

    
    p{
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
    }
    .medium-heading{font-size: 50px; line-height: 45px; font-weight: 900;}
    .small-heading{font-size: 36px;}

    #container-1{
        margin:0 auto;
        width: 375px;
        height: 2811px;
    }
    header{
        width: 100%;
        height: 630px;
        position: relative;
        top: 0;
        padding: 0;
    }

    #gallery-room{
        position: relative;
        margin-top: 120px 0px auto auto;
        width: 343px;
        height: 1505px;
        left: 16px;
        
    }

    #main-footer{
        width: 100%;
        height: 336px;
        
        margin-top: 120px;
        box-sizing: border-box;
        padding: 48px 32px;
    
        position: absolute;
        top: 2450px;
    }

    #main-header-text{
        position: absolute;
        width: 343px;
        height: 390px;
        
        left: 16px;
        top: 272px;
    }

    #main-header-text h1{
        width: 343px;
        height: 110px;
        position: relative;
        font-size: 70px;
        top: 0;
        left: 0;
        mix-blend-mode: normal;
        color: var(--black);
    }

    #main-header-text p{
        position: absolute;
        width: 100%;
        top:  142px;
        height: 112px;
    }
    #location-main{left: 0; margin-top: 32px;}


    #gallery-room-head{
       width: 343px;
       height: 233px;
       position: absolute;
       top: 345px;
    }
    #gallery-room-foot{
        background-color: var(--black);
        color: var(--white);
        width: 343px;
        height: 329px;
        position: absolute;
        top: 1306px;
        box-sizing: border-box;
        padding: 85px 28px;
    
        
    }
    #img-1{
        position: absolute;
        top: 0;
    }
    #img-2{position: absolute; top: 585px;}
    #img-3{position: absolute; top: 1081px;} 
    

    #main-footer-content{
        width: 311px;
        height: 240px;
        
    
    }
    #main-footer-text{
        margin-top: 0;
        width: 311px; 
        height: 200px;
        
    }
   
    #main-footer-content h1 { width: 311px; height: 78px;}
    #main-footer-content p{ width: 311px; height: 104px; } 

    #social{
        width: 100px;
        height: 20px;
        float: left;
        margin-top: 32px;
    
        display: flex;
        justify-content: space-between;
    } 


}
